*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body_card{
    display: grid;
    align-content: center;
    justify-content: center;
}



.dog_card{
    display: grid;
    grid-column: 3;
    grid-row: 6;
    justify-items: center;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15% 25%;
}

p span {
    display: flex;
    flex-direction: column;
    font-family: 'Jelly Anika';
    font-size: 30px;
}

.raza {
    font-family: 'Jelly Anika';
    font-size: 40px;
    font-weight: bold;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.img {
    width: 200px;
    height: 200px;
    border-radius: 25% 10%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.temperamento {
    font-family: 'LiSu';
    font-size: 20px;
    font-weight: normal;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.peso {
    font-family: 'LiSu';
    font-size: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
}


.altura {
    font-family: 'LiSu';
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
}

.años {
    font-family: 'LiSu';
    font-size: 20px;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 7;
}