*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 100vh;
    background-image: url(../img/19187720.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    background-color: #282828;
    margin-top: 80px;
    padding: 10px;
}

.h2 {
    color: #fff;
    font-family: 'Jelly Anika';
    font-size: 60px;
    font-weight: normal;
    border-bottom: 1px solid #CECECE;
    margin-bottom: 30px;
}

.create_button {
    background-color: #8230FF;
    font-family: 'Jelly Anika';
    font-size: 30px;
}

.create_button:hover {
    background-color: #D9FF61;
}

.input {
    border: 1px solid #350086;
    box-shadow: 0 0 5px #350086;
    font-family: 'Jelly Anika';
    font-size: 30px;
    text-align: center;
    padding: 5px;
    width: 50%;
}

input:hover {
    color: #D9FF61;
    border: 3px solid #D9FF61;
    box-shadow: 0 0 5px #D9FF61;
}

input, select, button{
    background-color: transparent;
    margin: 5px;
    border: none;
}

.contain_temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
}

.temperamentos {
    color: #fff;
    font-family: 'Jelly Anika';
    font-size: 40px;
}

.temperaments {
    background-color: #8230FF;
    width: 35%;
    font-family: 'Jelly Anika';
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

.temperaments:hover {
    background-color: #D9FF61;
}

.ul {
    background-color: #8230FF;
    font-family: 'Jelly Anika';
    font-size: 30px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
}



