.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.back {
    font-family: 'Jelly Anika';
    font-size: 30px;
    font-weight: bold;
    margin-right: 100px;
    background-color: #fff;
    color: #000;
    padding: 5px;
    text-align: center;
    border-radius: 25px;
}

.back:hover{
    color: #8FFF61;
    font-size: 40px;
    background-color: #8BA0FF;
}

.dog_detail {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(1, 23, 126, .5);
    border: 3px solid #8BA0FF;
    box-shadow: 0 0 10px #8BA0FF;
    width: 420px;
    color: #fff;
}

.img {
    border: 1px solid #fff;
    box-shadow: 0 0 5px #fff;
    border-radius: 5% 5% 10% 10%;
    margin: 10px;
    height: 397px;
    width: 397px;
}

.medidas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.raza {
    font-family: 'Jelly Anika';
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}

p span {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Jelly Anika';
    font-size: 25px;
}

.temperaments {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'LiSu';
    font-size: 20px;
    font-weight: normal;
}

.peso {
    color: #8FFF61;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'LiSu';
    font-size: 20px;
}

.altura {
    margin-right: 20px;
    font-family: 'LiSu';
    font-size: 20px;
}

.años {
    margin-left: 20px;
    font-family: 'LiSu';
    font-size: 20px;
}

.contain_error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.error {
    font-family: 'Jelly Anika';
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 5px #fff;
}