*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url(../img/19187720.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 330px);
    justify-content: center;
    align-items: center;
}

.cards_dogs {
    display: flex;
    align-content: center;
    justify-content: center;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros select {
    color: #fff;
    font-size: 25px;
    font-family: 'Jelly Anika';
    font-weight: normal;
    padding: 3px;
    background-color: rgba(1, 23, 126, .8);
    border: 1px solid #fff;
    box-shadow: 0 0 3px #fff;
    text-align: center;
    margin-top: 100px;
}

.filtros select:hover {
    color: #D9FF61;
    border: 3px solid #D9FF61;
    box-shadow: 0 0 5px #D9FF61;
}

.link {
    color: #fff;
    font-size: 30px;
    border: 3px solid #8BA0FF;
    box-shadow: 0 0 10px #8BA0FF;
    padding: 5px;
    margin-right: 200px;
}

.link:hover {
    color: #D9FF61;
    border: 3px solid #D9FF61;
    box-shadow: 0 0 10px #D9FF61;
}

.navegacion {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 23, 126, .8);
    font-size: 40px;
    color: #fff;
}

.reset {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 70px;
}


