*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url(../img/19187720.jpg);
}

.card_container {
    display: grid;
    grid-template-columns: repeat(4, 400px);
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    font-family: 'Jelly Anika';
    font-weight: normal;
    font-size: 80px;
    color: #0868FF;
}



.search {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.link {
    color: #fff;
}

.navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    font-size: 50px;
    color: #fff;
}

.reset {
    display: flex;
    justify-content: center;
    height: 70px;
    width: 70px;
}


