

.content {
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    height: 100vh;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.huella {
    height: 100px;
}

.titulo {
    font-family: 'Jelly Anika';
    font-size: 100px;
    color: #fff;
    border: 3px solid #FFAA01;
    box-shadow: 0 0 20px #FFAA01;
    border-radius: 50px;
    padding: 10px 20px;
}

.titulo:hover{
    color: #fc6767;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1, 23, 126, .5);
    border: 3px solid #8BA0FF;
    box-shadow: 0 0 10px #8BA0FF;
    border-radius: 50px;
}

.h1 {
    color: rgba(255, 255, 255, .8);
    margin-bottom: 20px;
    font-family: 'Jelly Anika';
    font-size: 100px;
    text-shadow: 0 0 25px #8BA0FF;
}














