
.paginado_flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7px;
}

.paginado_item {
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}

.paginado_item button {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 25% 5% 25% 25%;
    background-color: rgba(1, 23, 126, .8);
    border: 1px solid #fff;
    box-shadow: 0 0 3px #fff;
    font-family: 'Bondoni MT';
    color: #fff;
    font-size: 15px;
    text-align: center;
}

.paginado_item button:hover {
    color: #D9FF61;
    border: 3px solid #D9FF61;
    box-shadow: 0 0 10px #D9FF61;
}

ul {
    list-style: none;
}