.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    align-items: center;
    margin-top: 5px;
    font-family: 'Jelly Anika';
    font-size: 30px;
    border: none;
    border: 3px solid #8BA0FF;
    box-shadow: 0 0 10px #8BA0FF;
    text-align: center;
    padding: 2px;
    border-radius: 25px;
}

input {
    color: #fff;
}

.search:hover {
    color: #D9FF61;
    border: 3px solid #D9FF61;
    box-shadow: 0 0 10px #D9FF61;
}

.icon {
    width: 20px;
    height: 20px;
}